body {
  background-image: url("../img/background-image.jpg");
  background-size: 50%;
}

.inner-container {
  width: 60%;
  background: white;
  padding: 30px 40px;
  border: none;
  border-radius: 30px;
  margin: 0 auto;
  margin-top: 70px;
  overflow: scroll;
}

.main-container {
  display: flex;
  justify-content: space-between;
}

.temperature-container {
  display: flex;
}

.search-input,
.submit {
  border-radius: 10px;
  padding: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 400;
  line-height: 1;
}

.search-input {
  color: #495057;
  border-radius: 10px;
  border: 1px solid #be3632;
  width: 80%;
}

.search-input:focus {
  border: 1px solid #be3632;
}

.submit {
  color: white;
  background-color: #be3632;
  border: none;
  width: 100px;
}

.city {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  margin-bottom: 10px;
}

.temp-image {
  margin: 0;
  width: 100px;
}

.current-temperature {
  font-size: 40px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  margin-top: 30px;
}

.temperature-celcius {
  margin-top: 40px;
  font-family: "Poppins", sans-serif;
  margin-right: 40px;
}

p {
  font-family: "Poppins", sans-serif;
}

.humidity,
.windspeed {
  font-weight: 600;
  color: #be3632;
}

.weather-forecast-container {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.weather-forecast-day,
.weather-forecast-temp {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.footer {
  margin-top: 70px;
  font-size: 12px;
  text-align: left;
  font-family: sans-serif;
  color: rgba(175, 171, 171, 0.656);
}

a {
  color: #be3632;
}
